button{
    border-radius: 20px;
    background-color: #21B573;
}
.container h6{
    color: #21B573;
}
strong{
    color: #21B573;
}
.card-img-top{
    height: 85px;
    width: 66px;
}
.card{
    align-items: center;
}
h5{
    text-align: center;
}
.card-text{
    text-align: center;
}

.bold-text{
    text-align: center;
}

.card-img-mid{
    height: 200px;
    width: 345px;
}
.icon1{
    height: 24px;
    width: 24px;
}
.icon2{
    height: 24px;
    width: 24px;
}
.footer-image{
    float: right;
}
footer{
    height: 350px;
    width: device-width;
    margin-top: 100px;
    background-color: #282531;
    color: white;
}
.copyright{
    margin-top: 0;
    text-align: center;
    color: white;
    background-color: #282531;
    }
    .last-fot{
        background-color: #282531;
    }